html {
    cursor: none !important;
    scroll-behavior: smooth;
}

h1, h2, h3, h5 {
    font-family: 'Inter';
}

a {
    font-family: 'Inter';
    color: #5A75D2;
    cursor: none;
}
a:hover {
    font-family: 'Inter';
    color: #F58220;
    cursor: none;
    text-decoration: none;
    transition:0.5s;
}

  

/* the dot used for the cursor */
#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2.5px solid #F58220;
    position: fixed;
    border-radius: 4px;
    z-index: 101;
    pointer-events: none;
    transition: border-color 0.5s;
}

/* the ring around the dot used for the cursor */
#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 2px solid #F58220;
    background-color: #F58220;
    opacity: 50%;
    position: fixed;
    border-radius: 100px;
    z-index: 102;
    pointer-events: none;
}


